*, html, body {
    margin: 0;
    padding: 0;
}

.parallax {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 89vh;
}

.satu {
    background-image: url(/img/apex.jpg);
}

.dua {
    background-image: url(/img/pubg.jpeg);
}

.tiga {
    background-image: url(/img/mobilelegends.jpg);
}

.card {
    background-color:#f1f5f9;
}

.head {
    margin-top: 10vh;
}

.genshin {
    margin-top: 20px;
}

.ml {
    margin-top: 6px;
}

.pubg {
    margin-top: 54px;
}

.lol {
    margin-top: 146px;
}

.overwatch {
    margin-top: 145px;
}