*, html, body {
    margin: 0;
    padding: 0;
}


.navbar2 {
  background-color: #f8fafc;
}

.nav-item {
  color: black;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.drop {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
}

.dropdown-item {
    color: black;
}

.parallax {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.intro {
    background-image: url("/img/nft.jpeg");
}

.content-parallax {
    padding-top: 50vh;
}

.btn {
    filter: brightness(110%);
}

.btn:hover {
    filter: brightness(150%);
}